@font-face {
  font-family: 'GeomanistBook';
  src: url("../fonts/GeomanistBook.eot");
  src: url("../fonts/GeomanistBook.eot?#iefix") format("embedded-opentype"), url("../fonts/GeomanistBook.woff2") format("woff2"), url("../fonts/GeomanistBook.woff") format("woff"), url("../fonts/GeomanistBook.svg#t Book") format("svg"), url("../fonts/GeomanistBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'GeomanistMedium';
  src: url("../fonts/GeomanistMedium.eot");
  src: url("../fonts/GeomanistMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GeomanistMedium.woff2") format("woff2"), url("../fonts/GeomanistMedium.woff") format("woff"), url("../fonts/GeomanistMedium.svg#t Medium") format("svg"), url("../fonts/GeomanistMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.svg#t Medium") format("svg"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

html {
  font-size: 16px; }

body {
  font-family: "GeomanistBook"; }

.main_page {
  background-image: url("../img/bg-img.png");
  background-repeat: repeat;
  max-width: 1520px;
  margin: 0 auto; }

.content {
  max-width: 1520px; }

.header {
  background-image: url("../img/bg-nav.png");
  background-repeat: repeat;
  padding-top: 25px;
  padding-bottom: 25px; }

.header-logo {
  display: inline-block; }
  @media (max-width: 991px) {
    .header-logo {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 20px; } }
  .header-logo .header-logo__link {
    margin-left: 25px; }
    @media (max-width: 991px) {
      .header-logo .header-logo__link {
        margin-left: 0; } }
    .header-logo .header-logo__link .header-logo__img {
      height: 49px; }
      @media (min-width: 1700px) {
        .header-logo .header-logo__link .header-logo__img {
          height: -webkit-calc(77px/1.57);
          height: calc(77px/1.57); } }
      @media (max-width: 1700px) {
        .header-logo .header-logo__link .header-logo__img {
          height: -webkit-calc(77px/2.2);
          height: calc(77px/2.2); } }

.list-style-none li {
  list-style: none; }

.header-nav__items {
  font-family: "GeomanistMedium"; }
  @media (max-width: 991px) {
    .header-nav__items {
      display: block;
      width: 100%;
      margin: 20px 0 15px 0; } }

.header-nav__items a {
  color: #9999cc;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.7px; }

.m_l-items {
  margin-left: 125px; }
  @media (min-width: 1700px) {
    .m_l-items {
      margin-left: -webkit-calc(125px/1.57);
      margin-left: calc(125px/1.57); } }
  @media (max-width: 1700px) {
    .m_l-items {
      margin-left: -webkit-calc(125px/2.2);
      margin-left: calc(125px/2.2); } }
  @media (max-width: 991px) {
    .m_l-items {
      margin-left: 0; } }

.d-inl-block_mob-only {
  display: inherit; }
  @media (max-width: 991px) {
    .d-inl-block_mob-only {
      display: inline-block; } }

@media (max-width: 991px) {
  .marg-t-b-20_mob {
    margin: 20px 0; } }

.header-nav__items.play a {
  font-family: "MyriadProRegular", sans-serif;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: linear-gradient(left, #242333 0%, #3c3b53 100%);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 3px #242333;
          box-shadow: inset 0px 0px 0px 3px #242333;
  padding: 14px 35px;
  -webkit-box-shadow: 0px 14.5px 10.5px 0 rgba(9, 10, 15, 0.15);
          box-shadow: 0px 14.5px 10.5px 0 rgba(9, 10, 15, 0.15); }

.header-nav__items.play a::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
  background-image: -webkit-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
  background-image: -o-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
  background-image: linear-gradient(90deg, #d94fc7 0%, #ff905a 100%);
  -webkit-border-radius: 28px;
          border-radius: 28px;
  position: absolute;
  width: auto;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  height: auto;
  content: ''; }

.user-nav {
  color: #9d9acc;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 12px;
  margin-right: 62px; }
  @media (min-width: 1700px) {
    .user-nav {
      margin-right: -webkit-calc(62px/1.57);
      margin-right: calc(62px/1.57); } }
  @media (max-width: 1700px) {
    .user-nav {
      margin-right: -webkit-calc(62px/2.2);
      margin-right: calc(62px/2.2); } }
  @media (max-width: 991px) {
    .user-nav {
      display: inline-block;
      width: 100%;
      margin: 0 auto;
      text-align: center; } }

a.nav-link {
  color: #9999cc; }

.tab-content.tab-content__pets {
  color: #9d9acc; }

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-image: url("../img/bg-nav.png");
  position: fixed;
  max-width: 1520px;
  display: none; }

.d-flex_no-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .d-flex_no-mob {
      display: block; } }

.d-inline-flex_no-mob {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  @media (max-width: 991px) {
    .d-inline-flex_no-mob {
      display: block;
      width: 100%; } }

.p-nav__center {
  right: 50%;
  left: auto;
  margin-top: 10px;
  position: absolute; }
  @media (min-width: 2200px) {
    .p-nav__center {
      margin-right: -70px; } }
  @media (min-width: 1700px) {
    .p-nav__center {
      margin-right: -65px; } }
  @media (max-width: 1700px) {
    .p-nav__center {
      margin-right: -50px; } }
  @media (max-width: 991px) {
    .p-nav__center {
      display: block;
      right: auto;
      position: relative;
      -webkit-padding-start: 0;
      text-align: center;
      margin-right: 0; } }

.login-block {
  color: #9999cc;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.125rem;
  font-family: "MyriadProRegular", sans-serif; }
  @media (min-width: 1700px) {
    .login-block {
      font-size: -webkit-calc(2.125rem/1.57);
      font-size: calc(2.125rem/1.57); } }
  @media (max-width: 1700px) {
    .login-block {
      font-size: -webkit-calc(2.125rem/2.2);
      font-size: calc(2.125rem/2.2); } }
  .login-block a.login-href, .login-block a.register-href {
    margin-top: 12px;
    color: #666699;
    text-decoration: none; }

@media (min-width: 2200px) {
  .login-block.register {
    margin-right: 100px; }
    .login-block.register a {
      padding-left: 20px; } }

@media (min-width: 1700px) {
  .login-block.register {
    margin-right: -webkit-calc(100px/1.57);
    margin-right: calc(100px/1.57); }
    .login-block.register a {
      padding-left: -webkit-calc(20px/1.57);
      padding-left: calc(20px/1.57); } }

@media (max-width: 1700px) {
  .login-block.register {
    margin-right: -webkit-calc(100px/2.2);
    margin-right: calc(100px/2.2); }
    .login-block.register a {
      padding-left: -webkit-calc(20px/2.2);
      padding-left: calc(20px/2.2); } }

.login-block.login:before {
  background: url(../img/login_rounded_right_ico.png);
  position: absolute;
  width: 28px;
  height: 25px;
  margin-top: 16px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  content: ""; }

.login-block.login a {
  border-right: 1px solid;
  padding-left: 40px; }

@media (min-width: 2200px) {
  .login-block.login a {
    padding-right: 20px; } }

@media (min-width: 1700px) {
  .login-block.login a {
    padding-right: -webkit-calc(20px/1.57);
    padding-right: calc(20px/1.57); } }

@media (max-width: 1700px) {
  .login-block.login a {
    padding-right: -webkit-calc(20px/2.2);
    padding-right: calc(20px/2.2); } }

.nav__ico {
  width: 24px; }

@media (max-width: 991px) {
  .user-nav-item {
    display: inline-block; } }

.user-nav-item.user-nav__money a {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: linear-gradient(left, #242333 0%, #3c3b53 100%);
  -webkit-border-radius: 28px;
          border-radius: 28px;
  text-decoration: none;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 3px #242333;
          box-shadow: inset 0px 0px 0px 3px #242333;
  padding: 14px 22px 14px 47px;
  text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.1); }

.user-nav-item.user-nav__money a::after {
  -webkit-border-radius: 25px;
          border-radius: 25px;
  position: absolute;
  width: auto;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  height: auto;
  content: '';
  background-image: -webkit-gradient(linear, left top, right top, from(#6633cc), to(#cc66cc));
  background-image: -webkit-linear-gradient(left, #6633cc 0%, #cc66cc 100%);
  background-image: -o-linear-gradient(left, #6633cc 0%, #cc66cc 100%);
  background-image: linear-gradient(90deg, #6633cc 0%, #cc66cc 100%); }

.user-nav-item.user-nav__money a::before {
  content: '';
  background-image: url("../img/gem.png");
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 22;
  top: 6px;
  left: 6px;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

@media (min-width: 2200px) {
  .m_l-item {
    margin-left: 77px; } }

@media (min-width: 1700px) {
  .m_l-item {
    margin-left: -webkit-calc(77px/1.57);
    margin-left: calc(77px/1.57); } }

@media (max-width: 1700px) {
  .m_l-item {
    margin-left: -webkit-calc(77px/2.2);
    margin-left: calc(77px/2.2); } }

@media (min-width: 2200px) {
  .m_l-item_72 {
    margin-left: 72px; } }

@media (min-width: 1700px) {
  .m_l-item_72 {
    margin-left: -webkit-calc(72px/1.57);
    margin-left: calc(72px/1.57); } }

@media (max-width: 1700px) {
  .m_l-item_72 {
    margin-left: -webkit-calc(72px/2.2);
    margin-left: calc(72px/2.2); } }

@media (min-width: 2200px) {
  .m_l-item_33 {
    margin-left: 33px; } }

@media (min-width: 1700px) {
  .m_l-item_33 {
    margin-left: -webkit-calc(33px/1.57);
    margin-left: calc(33px/1.57); } }

@media (max-width: 1700px) {
  .m_l-item_33 {
    margin-left: -webkit-calc(33px/2.2);
    margin-left: calc(33px/2.2); } }

.user-nav-item.user-nav__achievement a {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: linear-gradient(left, #242333 0%, #3c3b53 100%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 3px #242333;
          box-shadow: inset 0px 0px 0px 3px #242333;
  padding: 17px; }

.user-nav-item.user-nav__achievement a::after {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  width: auto;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  height: auto;
  content: '';
  background-image: -webkit-radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%);
  background-image: -o-radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%);
  background-image: radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%); }

.m-t_fix {
  margin-top: -1px; }

.user-nav-item.user-nav__avatar a {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
  background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
  background-image: linear-gradient(left, #242333 0%, #3c3b53 100%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0px 3px #242333;
          box-shadow: inset 0px 0px 0px 3px #242333;
  padding: 17px; }

.user-nav-item.user-nav__avatar a::after {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  width: auto;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  height: auto;
  content: ''; }

.user-nav-item.user-nav__avatar a.user-online::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#6633cc), to(#cc66cc));
  background-image: -webkit-linear-gradient(left, #6633cc 0%, #cc66cc 100%);
  background-image: -o-linear-gradient(left, #6633cc 0%, #cc66cc 100%);
  background-image: linear-gradient(90deg, #6633cc 0%, #cc66cc 100%); }

.user-nav-item.user-nav__avatar a.user-offline::after {
  background-image: -webkit-radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%);
  background-image: -o-radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%);
  background-image: radial-gradient(circle farthest-corner at bottom center, #666699 0%, #666699 100%); }

.nav-pills {
  font-size: 1rem;
  background-image: url("../img/bg-nav.png");
  background-repeat: repeat;
  letter-spacing: 0.6px; }

.nav-item .nav-link.active {
  -webkit-border-image: url("../img/border-b-img.png") 1 stretch;
       -o-border-image: url("../img/border-b-img.png") 1 stretch;
          border-image: url("../img/border-b-img.png") 1 stretch;
  border-bottom: 3px solid transparent;
  background-color: rgba(50, 49, 69, 0.2); }

.pills-relative {
  position: relative; }

.pills-relative a.nav-link.active:after {
  content: '';
  position: absolute;
  width: 98%;
  height: 50%;
  bottom: 0px;
  left: 2px;
  background-image: -webkit-gradient(linear, right top, left top, from(#ff905a1c), to(#d94fc740));
  background-image: -webkit-linear-gradient(right, #ff905a1c, #d94fc740);
  background-image: -o-linear-gradient(right, #ff905a1c, #d94fc740);
  background-image: linear-gradient(to left, #ff905a1c, #d94fc740);
  -webkit-border-radius: 50% 50% 0% 0%;
          border-radius: 50% 50% 0% 0%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0.6; }

.nav-pills .nav-link {
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 17px 65px; }

.pills-presets-href:before,
.pills-items-href:before,
.pills-pets-href:before,
.pills-statistics-href:before,
.active.pills-presets-href:before,
.active.pills-items-href:before,
.active.pills-pets-href:before,
.active.pills-frieds-href:before,
.pills-frieds-href:before,
.active.pills-history-href:before,
.pills-history-href:before {
  content: '';
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.pills-presets-href:before {
  background-image: url("../img/presets-non-active-ico.png");
  width: 25px;
  height: 25px;
  top: 20px;
  left: 34px; }

.active.pills-presets-href:before {
  background-image: url("../img/presets-active-ico.png"); }

.pills-items-href:before {
  background-image: url("../img/toolbox-non-active.png");
  width: 40px;
  height: 40px;
  top: 16px;
  left: 26px; }

.active.pills-items-href:before {
  background-image: url("../img/toolbox-ico.png"); }

.pills-pets-href:before, .pills-frieds-href:before, .pills-history-href:before {
  background-image: url("../img/rectangle-non-active-ico.png");
  width: 27px;
  height: 27px;
  top: 20px;
  left: 35px; }

.active.pills-pets-href:before, .active.pills-frieds-href:before, .active.pills-history-href:before {
  background-image: url("../img/rectangle-active-ico.png"); }

.pills-statistics-href:before {
  background-image: url("../img/statistics-non-active-ico.png");
  width: 23px;
  height: 23px;
  top: 20px;
  left: 34px; }

.active.pills-statistics-href:before {
  background-image: url("../img/statistics-active-ico.png"); }

.p-relative {
  position: relative; }

.button-arrow_info {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-color: rgba(157, 154, 204, 0.039); }
  .button-arrow_info a.arrow_info-button {
    background-image: url("../img/arrow-icon.png");
    background-repeat: no-repeat;
    background-position: 35% 50%;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
    @media (min-width: 2200px) {
      .button-arrow_info a.arrow_info-button {
        -webkit-background-size: 28px 36px;
                background-size: 28px 36px; } }
    @media (min-width: 1700px) {
      .button-arrow_info a.arrow_info-button {
        -webkit-background-size: 19px 23px;
                background-size: 19px 23px; } }
    @media (max-width: 1700px) {
      .button-arrow_info a.arrow_info-button {
        -webkit-background-size: 14px 18px;
                background-size: 14px 18px; } }
    @media (max-width: 991px) {
      .button-arrow_info a.arrow_info-button {
        display: block;
        height: 58px;
        background-position: 50%; } }
  .button-arrow_info a.arrow_info-button.collapsed {
    background-position: 65% 50%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media (max-width: 991px) {
      .button-arrow_info a.arrow_info-button.collapsed {
        background-position: 50%; } }
  @media (min-width: 2200px) {
    .button-arrow_info {
      width: 136px; } }
  @media (min-width: 1700px) {
    .button-arrow_info {
      width: 136px;
      -webkit-background-size: 19px 23px;
              background-size: 19px 23px; } }
  @media (max-width: 1700px) {
    .button-arrow_info {
      width: 95px;
      -webkit-background-size: 14px 18px;
              background-size: 14px 18px; } }
  @media (max-width: 991px) {
    .button-arrow_info {
      position: relative;
      display: block;
      width: 100%;
      height: 58px; } }
  .button-arrow_info a {
    width: 100%; }

.pad-0 {
  padding: 0 !important; }

@media (min-width: 2200px) {
  .collapse-block_content {
    padding: 55px 62px 58px 60px; } }

@media (min-width: 1700px) {
  .collapse-block_content {
    padding: -webkit-calc(55px/1.57) -webkit-calc(62px/1.57) -webkit-calc(58px/1.57) -webkit-calc(60px/1.57);
    padding: calc(55px/1.57) calc(62px/1.57) calc(58px/1.57) calc(60px/1.57); } }

@media (max-width: 1700px) {
  .collapse-block_content {
    padding: -webkit-calc(55px/2.2) -webkit-calc(62px/2.2) -webkit-calc(58px/2.2) -webkit-calc(60px/2.2);
    padding: calc(55px/2.2) calc(62px/2.2) calc(58px/2.2) calc(60px/2.2); } }

.row__border-bottom_collapse {
  border-bottom: 2px solid rgba(111, 109, 153, 0.1); }

.collapse-block_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 991px) {
    .collapse-block_content {
      display: block; } }
  .collapse-block_content .coll-content {
    background-image: url(../img/bg-nav.png);
    background-repeat: repeat;
    position: relative;
    -webkit-box-shadow: 0px 11px 20px 0 rgba(36, 35, 51, 0.45);
            box-shadow: 0px 11px 20px 0 rgba(36, 35, 51, 0.45);
    height: 214px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    @media (max-width: 991px) {
      .collapse-block_content .coll-content {
        margin: 0 0 15px 0;
        height: auto; } }
  .collapse-block_content .content-b_1, .collapse-block_content .content-b_3 {
    width: 38%; }
    @media (max-width: 991px) {
      .collapse-block_content .content-b_1, .collapse-block_content .content-b_3 {
        width: 100%; } }
  .collapse-block_content .content-b_2 {
    width: 24%; }
    @media (min-width: 2200px) {
      .collapse-block_content .content-b_2 {
        margin: 0 70px; } }
    @media (min-width: 1700px) {
      .collapse-block_content .content-b_2 {
        margin: 0 -webkit-calc(70px/1.57);
        margin: 0 calc(70px/1.57); } }
    @media (max-width: 1700px) {
      .collapse-block_content .content-b_2 {
        margin: 0 -webkit-calc(70px/2.2);
        margin: 0 calc(70px/2.2); } }
    @media (max-width: 991px) {
      .collapse-block_content .content-b_2 {
        width: 100%;
        margin: 0 0 15px 0; } }

.content-b_1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 35%);
  background: -o-radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 35%);
  background: radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 35%); }

.content-b_2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 50%);
  background: -o-radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 50%);
  background: radial-gradient(circle farthest-corner at center center, rgba(255, 255, 255, 0.05) 0%, transparent 50%); }

.collapse__user-edit-profile {
  text-align: right;
  padding: 34px 36px 29px 0; }
  .collapse__user-edit-profile a {
    color: #9d9acc;
    letter-spacing: 0.6px;
    text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none; }

.collapse__user-money {
  padding: 27px 1px 1px 16px; }
  .collapse__user-money .collapse__user-money_img {
    padding-right: 16px; }
  .collapse__user-money span {
    font-size: 1.1875rem;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.1); }

.collapse__user-information {
  text-align: center;
  margin: -55px 0; }
  @media (max-width: 991px) {
    .collapse__user-information {
      margin: auto; } }

.collapse__user-image_profile {
  max-width: 78px;
  height: 78px;
  margin: 0 auto 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 7.5px 17.5px 0 rgba(0, 0, 0, 0.42);
          box-shadow: 0px 7.5px 17.5px 0 rgba(0, 0, 0, 0.42);
  position: relative;
  z-index: 10; }
  .collapse__user-image_profile img {
    width: 100%; }

.collapse__user-nickname {
  font-size: 1.1875rem;
  color: #ffffff;
  letter-spacing: 0.8px; }

.collapse__user-email {
  color: #9d9acc;
  text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.6px; }

.collapse__sold-pets._margin, .collapse__bought-pets._margin {
  margin-top: 65px;
  margin-bottom: 43px; }

.collapse__sold-pets, .collapse__bought-pets, .collapse__circle-total-games, .collapse__circle-won-games, .collapse__circle-lost-games {
  color: #ffffff;
  letter-spacing: 0.6px;
  font-size: 1.875rem;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 18px; }
  @media (max-width: 1199px) {
    .collapse__sold-pets, .collapse__bought-pets, .collapse__circle-total-games, .collapse__circle-won-games, .collapse__circle-lost-games {
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    .collapse__sold-pets, .collapse__bought-pets, .collapse__circle-total-games, .collapse__circle-won-games, .collapse__circle-lost-games {
      font-size: 1.3rem; } }

.collapse__sold-pets::after {
  content: '';
  border-right: 2px solid;
  right: 0;
  height: 51px;
  position: absolute;
  border-color: #7e79c4;
  opacity: 0.1; }

.collapse__sold-pets::before {
  content: '';
  background-image: url("../img/Shape-5-copy.png");
  position: absolute;
  width: 51px;
  height: 65px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  left: 18px;
  top: 58px; }

.collapse__bought-pets::before {
  content: '';
  background-image: url("../img/Shape-5-copy-rotate.png");
  position: absolute;
  width: 51px;
  height: 65px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  left: 20px;
  top: 62px; }

.collapse__bought-pets span::before {
  content: '';
  -webkit-box-shadow: -36px 8px 57px -10px #3deb6e;
          box-shadow: -36px 8px 57px -10px #3deb6e;
  position: absolute;
  width: 30px;
  height: 30px; }

.collapse__sold-pets span:before {
  content: '';
  -webkit-box-shadow: -25px 8px 57px -10px #6d30c8;
          box-shadow: -25px 8px 57px -10px #6d30c8;
  position: absolute;
  width: 33px;
  height: 30px; }

.collapse__sold-pets_text, .collapse__bought-pets_text, .collapse__circle-total-games_text, .collapse__circle-won-games_text, .collapse__circle-lost-games_text {
  letter-spacing: 0.6px;
  text-align: center;
  color: #6f6d99;
  text-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.1); }

.collapse__circle-total-games .num, .collapse__circle-won-games .num, .collapse__circle-lost-games .num {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  width: 98px;
  padding: 26px 0;
  height: 98px;
  position: relative;
  z-index: 10; }
  @media (max-width: 350px) {
    .collapse__circle-total-games .num, .collapse__circle-won-games .num, .collapse__circle-lost-games .num {
      width: 77px; } }

.collapse__circle-total-games .num::after, .collapse__circle-won-games .num::after, .collapse__circle-lost-games .num::after {
  content: '';
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-origin: border-box;
          background-origin: border-box;
  -webkit-background-clip: content-box, border-box;
          background-clip: content-box, border-box;
  position: absolute;
  width: 98px;
  height: 98px;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .33; }

.collapse__circle-total-games {
  /*.num::after
		background-image: linear-gradient(#2f2d4400, #ffffff00), linear-gradient(to left, #57b9c9, #6d30c8) */ }
  .collapse__circle-total-games .num {
    background-image: url("../img/total-games-bg.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 2px 40px;
    background-repeat: no-repeat; }

.collapse__circle-won-games {
  /*.num::after
		background-image: linear-gradient(#2f2d4400, #ffffff00), linear-gradient(to left, #57b9c9, #3deb6e) */ }
  .collapse__circle-won-games .num {
    background-image: url("../img/total-games-bg.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 2px 40px;
    background-repeat: no-repeat; }

.collapse__circle-lost-games {
  /*.num::after
		background-image: linear-gradient(#2f2d4400, #ffffff00), linear-gradient(to left, #f2626c, #e553aa) */ }
  .collapse__circle-lost-games .num {
    background-image: url("../img/total-games-bg.png");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 2px 40px;
    background-repeat: no-repeat; }

/* Pets Block */
.m-bot_30 {
  margin-bottom: 30px; }

.pets-tab__content_no-pets {
  height: 100%;
  display: table;
  margin: 0 auto;
  background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(0, 0, 0, 0.4) 0%, transparent 58%);
  background: -o-radial-gradient(circle farthest-corner at center center, rgba(0, 0, 0, 0.4) 0%, transparent 58%);
  background: radial-gradient(circle farthest-corner at center center, rgba(0, 0, 0, 0.4) 0%, transparent 58%); }

.no-pets__white-text {
  margin-top: 50%;
  font-size: 1.625rem;
  color: #fff;
  letter-spacing: 0.6px;
  margin-bottom: 20px; }

.no-pets__small-text {
  letter-spacing: 0.4px;
  max-width: 420px;
  margin: 0 auto; }

.no-pets__button_marketplace {
  margin-top: 65px; }
  .no-pets__button_marketplace a {
    font-family: "MyriadProRegular", sans-serif;
    color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
    background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: linear-gradient(left, #242333 0%, #3c3b53 100%);
    -webkit-border-radius: 25px;
            border-radius: 25px;
    z-index: 10;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 0px 3px #242333;
            box-shadow: inset 0px 0px 0px 3px #242333;
    padding: 14px 35px;
    -webkit-box-shadow: 0px 0px 21.5px 0 rgba(9, 10, 15, 0.15);
            box-shadow: 0px 0px 21.5px 0 rgba(9, 10, 15, 0.15);
    text-decoration: none; }

.no-pets__button_marketplace a::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
  background-image: -webkit-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
  background-image: -o-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
  background-image: linear-gradient(90deg, #d94fc7 0%, #ff905a 100%);
  -webkit-border-radius: 28px;
          border-radius: 28px;
  position: absolute;
  width: auto;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
  height: auto;
  content: ''; }

.pets-collection {
  background-color: rgba(36, 35, 51, 0.5);
  position: relative; }
  @media (min-width: 1700px) {
    .pets-collection {
      padding: -webkit-calc(62px/1.57);
      padding: calc(62px/1.57); } }
  @media (max-width: 1700px) {
    .pets-collection {
      padding: -webkit-calc(62px/2.2);
      padding: calc(62px/2.2); } }

.pets-collection:after, .pets-filter:after {
  content: '';
  background-image: url("../img/bg-nav.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.pets-collection_total {
  color: #6f6d99;
  letter-spacing: 0.6px; }
  .pets-collection_total span {
    float: right; }
    @media (min-width: 768px) and (max-width: 991px) {
      .pets-collection_total span {
        float: none;
        padding-left: 20px; } }

.pets-collection_point {
  color: #ffffff;
  letter-spacing: 0.6px;
  font-size: 1.875rem; }

.pets_total-gem {
  position: relative;
  display: flow-root;
  background-color: rgba(36, 35, 51, 0.3); }
  @media (min-width: 1700px) {
    .pets_total-gem {
      padding: -webkit-calc(62px/1.57);
      padding: calc(62px/1.57); } }
  @media (max-width: 1700px) {
    .pets_total-gem {
      padding: -webkit-calc(62px/2.2);
      padding: calc(62px/2.2); } }

.pets_total-gem:after {
  content: '';
  background-image: url("../img/bg-nav.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.pets_total-gem .gem {
  width: 33%;
  display: inline-block;
  float: left;
  text-align: end;
  padding-right: 5px;
  font-size: 1.1875rem;
  color: #ffffff;
  position: relative;
  height: 40px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .pets_total-gem .gem {
      width: 18%; } }

.gem._gem-1:before, .gem._gem-2:before, .gem._gem-3:before, .gem._gem-4:before, .gem._gem-5:before {
  content: '';
  height: 36px;
  width: 36px;
  position: absolute;
  left: 10px;
  top: 3px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 768px) and (max-width: 991px) {
    .gem._gem-1:before, .gem._gem-2:before, .gem._gem-3:before, .gem._gem-4:before, .gem._gem-5:before {
      right: 25px;
      left: auto; } }

.gem._gem-4 {
  margin-left: 15%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .gem._gem-4 {
      margin-left: auto; } }

.gem._gem-1:before {
  background-image: url("../img/gem-left-bar-1.png"); }

.gem._gem-2:before {
  background-image: url("../img/gem-left-bar-2.png"); }

.gem._gem-3:before {
  background-image: url("../img/gem-left-bar-3.png"); }

.gem._gem-4:before {
  background-image: url("../img/gem-left-bar-4.png"); }

.gem._gem-5:before {
  background-image: url("../img/gem-left-bar-5.png"); }

.pets-filter {
  position: relative;
  background-color: rgba(36, 35, 51, 0.5); }
  @media (min-width: 1700px) {
    .pets-filter {
      padding: -webkit-calc(62px/1.57);
      padding: calc(62px/1.57); } }
  @media (max-width: 1700px) {
    .pets-filter {
      padding: -webkit-calc(62px/2.2);
      padding: calc(62px/2.2); } }

.form-control_search {
  max-width: 100%;
  width: 100%; }

.form-control_search {
  font-family: "GeomanistBook", sans-serif;
  letter-spacing: 0.6px;
  height: 50px;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  padding-left: 15px;
  padding-right: 33px;
  color: #fff;
  outline: none;
  border: none;
  background-image: url("../img/bg-nav.png"); }

input.form-control_search::-webkit-input-placeholder {
  color: #6f6d99;
  opacity: 0.5; }

input.form-control_search::-moz-placeholder {
  color: #6f6d99;
  opacity: 0.5; }

input.form-control_search:-ms-input-placeholder {
  color: #6f6d99;
  opacity: 0.5; }

input.form-control_search::placeholder {
  color: #6f6d99;
  opacity: 0.5; }

.pets-filter__search:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 15px;
  background-image: url("../img/search-ico.png");
  width: 23px;
  height: 23px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat; }

.pets-filter_most-recent .most-recent_href {
  position: relative;
  padding: 13px 15px;
  width: 100%;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.8px;
  border: 2px solid #6f6d99;
  -webkit-border-radius: 28px;
          border-radius: 28px; }

.pets-filter_most-recent .most-recent_href:after {
  background-image: url("../img/arrow-icon.png");
  position: absolute;
  width: 13px;
  height: 16px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  right: 15px;
  top: 15px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  content: ''; }

.pets-filter_most-recent .most-recent_href.active:after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.filter-select {
  position: relative;
  color: #fff;
  letter-spacing: 0.8px; }

.filter-select select {
  display: none; }

.select-selected {
  -webkit-border-radius: 28px;
          border-radius: 28px;
  border: 2px solid #6f6d99; }

.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #6f6d99 transparent transparent transparent; }

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #6f6d99 transparent;
  top: 20px; }

.select-items div, .select-selected {
  padding: 13px 15px;
  cursor: pointer; }

.select-items {
  position: absolute;
  background-color: rgba(36, 35, 51, 0.5);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100px;
  overflow-y: scroll;
  border: 2px solid #6f6d99;
  border-top: none; }

.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.select-selected.select-arrow-active {
  -webkit-border-radius: 28px 28px 0px 0px;
          border-radius: 28px 28px 0px 0px;
  border-bottom: none; }

.select-items::-webkit-scrollbar {
  display: none; }

.select-items {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

@media (min-width: 1700px) {
  .pets-tab__content_pets {
    padding: -webkit-calc(62px/1.57);
    padding: calc(62px/1.57); } }

@media (max-width: 1700px) {
  .pets-tab__content_pets {
    padding: -webkit-calc(62px/2.2);
    padding: calc(62px/2.2); } }

.pets-tab__content_pets .pets-filter_nav {
  display: inline-block;
  width: 10%;
  float: left; }
  @media (max-width: 1199px) {
    .pets-tab__content_pets .pets-filter_nav {
      width: 20%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .pets-tab__content_pets .pets-filter_nav {
      width: 20%; } }
  @media (max-width: 767px) {
    .pets-tab__content_pets .pets-filter_nav {
      width: 50%; } }

a.pets-filter_nav-href {
  padding: 20px 30px;
  display: block;
  font-size: 1.1875rem;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  position: relative; }
  a.pets-filter_nav-href::after {
    content: '';
    background-image: url("../img/bg-nav.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  a.pets-filter_nav-href.active::after {
    opacity: 0.85; }
  a.pets-filter_nav-href::hover {
    color: #ffffff;
    text-decoration: none; }

._pets-bg-1::before, ._pets-bg-2::before, ._pets-bg-3::before, ._pets-bg-4::before, ._pets-bg-5::before, ._pets-bg-6::before, ._pets-bg-7::before, ._pets-bg-8::before, ._pets-bg-9::before, ._pets-bg-10::before {
  content: '';
  position: absolute; }

._pets-bg-1::before {
  background-image: url("../img/pets-bg-1.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 20px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-1::before {
  background-image: url("../img/pets-bg-1-active.png"); }

._pets-bg-2::before {
  background-image: url("../img/pets-bg-2.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 20px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-2::before {
  background-image: url("../img/pets-bg-2-active.png"); }

._pets-bg-3::before {
  background-image: url("../img/pets-bg-3.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 15px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-3::before {
  background-image: url("../img/pets-bg-3-active.png"); }

._pets-bg-4::before {
  background-image: url("../img/pets-bg-4.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 20px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-4::before {
  background-image: url("../img/pets-bg-4-active.png"); }

._pets-bg-5::before {
  background-image: url("../img/pets-bg-5.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 24px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-5::before {
  background-image: url("../img/pets-bg-5-active.png"); }

._pets-bg-6::before {
  background-image: url("../img/pets-bg-6.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 20px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-6::before {
  background-image: url("../img/pets-bg-6-active.png"); }

._pets-bg-7::before {
  background-image: url("../img/pets-bg-7.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 10px;
  top: 22px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-7::before {
  background-image: url("../img/pets-bg-7-active.png"); }

._pets-bg-8::before {
  background-image: url("../img/pets-bg-8.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 22px;
  top: 20px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-8::before {
  background-image: url("../img/pets-bg-8-active.png"); }

._pets-bg-9::before {
  background-image: url("../img/pets-bg-9.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 19px;
  top: 25px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-9::before {
  background-image: url("../img/pets-bg-9-active.png"); }

._pets-bg-10::before {
  background-image: url("../img/pets-bg-10.png");
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  left: 28px;
  top: 18px;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.active._pets-bg-10::before {
  background-image: url("../img/pets-bg-10-active.png"); }

.progress-bar-custom {
  width: 100%;
  height: 14px;
  background-image: url("../img/progress-bar-bg.png");
  position: relative;
  margin-top: 15px; }
  @media (max-width: 1199px) {
    .progress-bar-custom {
      max-width: 168px; } }
  @media (max-width: 991px) {
    .progress-bar-custom {
      max-width: 168px; } }

.progress-bar-content {
  position: absolute;
  max-width: 100%;
  height: 100%;
  background-image: url("../img/progress-bar-bg-active.png");
  -webkit-animation-name: progress;
          animation-name: progress;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s; }

@media (min-width: 1700px) {
  .pets-tab__content_pets-cards {
    margin: -webkit-calc(62px/1.57);
    margin: calc(62px/1.57); } }

@media (max-width: 1700px) {
  .pets-tab__content_pets-cards {
    margin: -webkit-calc(62px/2.2);
    margin: calc(62px/2.2); } }

.content_pets-cards-img {
  width: -webkit-calc(100%/6);
  width: calc(100%/6);
  display: inline-block;
  padding: 15px;
  float: left; }
  @media (max-width: 1199px) {
    .content_pets-cards-img {
      width: -webkit-calc(100%/4);
      width: calc(100%/4); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .content_pets-cards-img {
      width: -webkit-calc(100%/4);
      width: calc(100%/4); } }
  @media (max-width: 767px) {
    .content_pets-cards-img {
      width: -webkit-calc(100%/2);
      width: calc(100%/2); } }

.content_pets-cards-img img.pets-cards-img {
  width: 100%;
  max-height: 218px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .content_pets-cards-img img.pets-cards-img {
      width: auto; } }
  @media (max-width: 767px) {
    .content_pets-cards-img img.pets-cards-img {
      max-height: 185px; } }
  @media (max-width: 350px) {
    .content_pets-cards-img img.pets-cards-img {
      max-height: 150px; } }

.toggle_btn {
  display: none;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 200;
  top: 22px;
  right: 25%;
  left: auto;
  background-color: #00899d;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  @media (max-width: 767px) {
    .toggle_btn {
      display: block; } }

.toggle_btn .sandwich {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.toggle_btn .sandwich span {
  height: 2px;
  width: 24px;
  position: relative;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  left: 3px;
  background-color: #fff;
  display: block; }

.toggle_btn .sandwich span.sw-topper {
  top: 6px;
  -webkit-transition: top 0.2s, -webkit-transform 0.3s;
  transition: top 0.2s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.2s;
  transition: transform 0.3s, top 0.2s;
  transition: transform 0.3s, top 0.2s, -webkit-transform 0.3s; }

.toggle_btn .sandwich span.sw-bottom {
  top: 12px;
  -webkit-transition: top 0.2s, -webkit-transform 0.3s;
  transition: top 0.2s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.2s;
  transition: transform 0.3s, top 0.2s;
  transition: transform 0.3s, top 0.2s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0.1s, 0s;
       -o-transition-delay: 0.1s, 0s;
          transition-delay: 0.1s, 0s; }

.toggle_btn .sandwich span.sw-footer {
  top: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.toggle_btn .sandwich.active .sw-topper {
  top: 15px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.toggle_btn .sandwich.active .sw-bottom {
  top: 13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.toggle_btn .sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
